body{
	background-color: #4E2B84;
}
header .jumbotron .container{
	text-align: center
}
header .jumbotron h1{
	display:inline;
	text-align: center;
	font-size: 600%;
	font-weight: 400;
	font-family: serif;
	color: white;
	line-height: 125%;
}
.collapse ul{
	width: 100px;
	padding: 5px 0;
	left: 0;
	border: solid 1px #aaa;
	background: #333 10px 11px;
}
section.Story{
		display:inline-block;
		width: 70%;
	}
img#mich{
		width: 25%;
		float: left;
	}
.collapse li a{
	color:white;
}
.active {
    background-color: blue;
	}
.collapse a:hover:not(.active) {
    background-color: black;
 	text-decoration: none;
	}
.navbar{
	position: absolute;
	top: 0;
	visibility: visible;
	min-height: 0px;
}
.collapse{
	position: absolute;
	top: 20px;
}
.collapse{
	visibility: visible;
}
.nav li{
	display:none;
}
.nav{
	visibility: hidden;
}
.collapsing li{
	visibility: hidden;
}
header .jumbotron h3{
	visibility: hidden;
}
header .jumbotron h2{
	visibility: hidden;
}
header .jumbotron {
	background-image: url("Harbor.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}
header .jumbotron{
	margin-bottom: 0;
}
.Home section {
	font-family: "Noto Sans", sans-serif;
	font-size: 15px;
	background-color: rgb(235, 235, 255);
	padding: 1% 2%;
	line-height: 20px;
	border: 2px solid rgb(67, 67, 76);
	border-radius: 5px;
	margin: .8%;
	border: 2px solid rgb(67, 67, 76);
	border-radius: 5px;
	margin-top: 60px;
	background-color: rgb(235, 235, 255);
	padding: 1% 2%;
	line-height: 20px;
}

img#TC{
		width: 100%;
	}

.resume h1{
	color: white;
	text-align: center;
}

.resume section{	
	display: block;
	margin: .8%;
	border: 5px solid rgb(67, 67, 76);
	border-radius: 5px;
	background-color: rgb(235, 235, 255);
	padding: 1% 2%;
	line-height: 20px;
}
.resume h3{
	font-weight: 200;

}
h4#italic {
	font-style: italic;
	}

footer{
	background-color: black;
    text-align: center;
    clear: both;
    bottom: 0;
    display: block;
    font-family: "Noto Sans", sans-serif;
}
footer img{
	height: 5%;
	width: 5%;
}
footer p{
	color:white;
}
form{
	border-radius: 5px;
}

/* Tablet MEDIA QUERY */
@media screen and (min-width: 768px){
	body{
		background-color:white;
	}
	header .jumbotron h2{
		visibility: visible;
		line-height: 200%;
    	color: #84E9F5;
    	font-size: 250%;
	}
	section.Roots{
		display: inline-block;
		width:40%;
	}
	img#mich{
		height: 240px;
	}
	img#TC{
		width: 55%;
		float: right;
	}
	.resume section{	
		display: inline-block;
	}
	.nav {
		position: relative;
	}
	.nav{
		visibility: visible;
	}
	.navbar{
		visibility:hidden; 
	}
	.collapsing{
		visibility: visible;
	}
	.collapse{
		visibility: hidden;
	}
	.nav ul {
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
    	background-color: #333;
    	border: 10px;
    	border-color: white;
    	width:100%;
	}

	.nav li {
		display: initial;
    	float: left;
    	width: 100%;
	}
	.active {
    	background-color: blue;
	}

	.nav li a:hover:not(.active) {
    	background-color: #111;
	}

	.nav li a {
    	display: block;
    	color: white;
    	text-align: center;
    	padding: 14px 16px;
    	text-decoration: none;
	} 
	section.Courses{
		top:0;
	}
}
/* Desktop MEDIA QUERY */
@media screen and (min-width: 1024px){
	body{
		background-color:#0691A2 ;
	}
	header .jumbotron h2{
		line-height: 100%
	}
	section.Education{
		display: block;
	}
	section.Skills{
		display: block;
		width: 350px;
	}
	img#mich{
		height: 220px;
		float: right;
	}
	section.Clubs{
		width: 30%;
	}
	section.Courses{
		top:0;
	}
	header .jumbotron h3{
		visibility: visible;
		clear: both;
		text-align: left;
		line-height: 200%;
		color:white;
	}
	.nav li {
		display: initial;
    	float: left;
    	width: 25%;
	}
	footer{
		border:none;
	}
}



