body{
	background-color: #4E2B84;
}
.jumbotron .container{
	text-align: center
}
div .jumbotron h1{
	display:inline;
	text-align: center;
	font-size: 600%;
	font-weight: 400;
	font-family: serif;
	color: white;
	line-height: 125%;
}

.nav {
	min-height: 40px;
	position: relative;
	padding-bottom: 500px;
	}
.collapse ul{
	width: 100px;
	padding: 5px 0;
	left: 0;
	border: solid 1px #aaa;
	background: #333 10px 11px;
}
.collapse li a{
	color:white;
}
.collapse ul .active {
	background-color:blue;
	}
.collapse a:hover:not(.active) {
    background-color: black;
 	text-decoration: none;
	}
.navbar{
	position: absolute;
	top: 0;
}
.collapse{
	position: absolute;
	top: 20px;
}

		
.nav ul {
		width: 200px;
		padding: 5px 0;
		position: absolute;
		left: 0;
		border: solid 1px #aaa;
		background: #333 10px 11px;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
	}
.nav li {
	display: none; /* hide all <li> items */
	margin: 0;
	width: 100%
}
nav li a{
	color:white;
}
.nav .current {
	display: block; /* show only current <li> item */
	}
.nav a {
	display: block;
	padding: 5px 5px 5px 32px;
	text-align: left;
	}

	/* on nav hover */
.nav ul:hover {
	background-image: none;
	}
.nav ul:hover li {
	display: inline-block;
	}
.nav ul .active {
	background-color:blue;
	}
.nav a:hover:not(.active) {
    background-color: black;
	}
div .jumbotron h3{
	visibility: hidden;
}
div.jumbotron h2{
	visibility: hidden;
}
div .jumbotron {
	background-image: url("Harbor.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}
.jumbotron{
	margin-bottom: 0;
}
.myClass{
	margin: 0em 1em;
	padding:.75em;
	border: 1px solid black;
	border-radius: .25%;

	/* Safari and Chrome */	
	-webkit-column-count:3;
	-moz-column-count: 3;
	column-count:3;
} 
footer{
	background-color: blue;
}
footer img{
	height: 5%;
	width: 5%;
}
footer p{
	color:white;
}



@media screen and (min-width: 768px){
	body{
		background-color:white;
	}
	div .jumbotron h2{
		visibility: visible;
		line-height: 200%;
    	color: #84E9F5;
    	font-size: 250%;
	}
	.nav ul {
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
    	background-color: #333;
    	border: 10px;
    	border-color: white;
    	width:100%;
	}

	.nav li {
		display: initial;
    	float: left;
    	width: 100%;
	}
	.nav ul .active {
    	background-color: #131DAF;
	}

	.nav li a:hover:not(.active) {
    	background-color: #111;
	}

	.nav li a {
    	display: block;
    	color: white;
    	text-align: center;
    	padding: 14px 16px;
    	text-decoration: none;
	} 
}

@media screen and (min-width: 1024px){
	body{
		background-color:#0691A2 ;
	}
	div .jumbotron h2{
		line-height: 100%
	}
	div .jumbotron h3{
		visibility: visible;
		clear: both;
		text-align: left;
		line-height: 200%;
		color:white;
	}
	.nav li {
		display: initial;
    	float: left;
    	width: 25%;
	}
	footer{
		border:none;
	}
}



