body{
	background-color: #3247E6;
}
header .jumbotron .container{
	text-align: center
}
header .jumbotron h1{
	display:inline;
	text-align: center;
	font-size: 600%;
	font-weight: 400;
	font-family: serif;
	color: white;
	line-height: 125%;
}
.collapse ul{
	width: 100px;
	padding: 5px 0;
	left: 0;
	border: solid 1px #FFF;
	background: #5A5A5A 10px 11px;
}
section.Story{
		display:inline-block;
		width: 70%;
	}
.carousel-inner img{
	width:100%;
}
div.carousel-caption{
	right:5%;
	left:5%;
}
img#Me{
	display: none;
}
img#mich{
		width: 25%;
		float: left;
	}
.collapse li a{
	color:white;
}
.active {
    background-color: blue;
	}
.collapse a:hover:not(.active) {
    background-color: black;
 	text-decoration: none;
	}
.navbar{
	position: absolute;
	top: 0;
	visibility: visible;
	min-height: 0px;
}
.collapse{
	position: absolute;
	top: 20px;
}
.collapse{
	visibility: visible;
}
.nav li{
	display:none;
}
.nav{
	visibility: hidden;
}
.collapsing li{
	visibility: hidden;
}
header .jumbotron h3{
	visibility: hidden;
}
header .jumbotron h2{
	visibility: hidden;
}
header .jumbotron {
	background-image: url("https://res-5.cloudinary.com/simpleview/image/upload/c_fill,f_auto,h_720,q_50,w_2048/v1/clients/traversecity15/Good%20Harbor%20Beach_047ef4f5-be11-4b51-8e93-d50ba7b6309f.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}
header .jumbotron{
	margin-bottom: 0;
}
.Home section {
	font-family: "Noto Sans", sans-serif;
	font-size: 15px;
	background-color: rgb(235, 235, 255);
	padding: 1% 2%;
	line-height: 20px;
	border: 2px solid rgb(67, 67, 76);
	border-radius: 5px;
	margin: .8%;
	border: 2px solid rgb(67, 67, 76);
	border-radius: 5px;
	margin-top: 60px;
	background-color: rgb(235, 235, 255);
	padding: 1% 2%;
	line-height: 20px;
}

img#TC{
		width: 100%;
	}

.resume h1{
	color: white;
	text-align: center;
}

.resume section{	
	display: block;
	margin: .8%;
	border: 5px solid rgb(67, 67, 76);
	border-radius: 5px;
	background-color: rgb(235, 235, 255);
	padding: 1% 1%;
	line-height: 20px;
}
.resume h3{
	font-weight: 200;

}
h4#italic {
	font-style: italic;
	}
.carousel-inner>.item>img{
		height: 250px;
	}
div.photos{
	display: none;
}
.material-icons{
	font-size: 200px;
}
div.Contact {
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 35px;
	}
div.Contact{
		display: inline-block;
		width:100%;
	}
div.icon{
		display: inline-block;
	}
section.Email{
		display: inline-block;
		width:40%;
		padding-left: 15%;
		float: left;
	}
section.Phone{
		display: inline-block;
		padding: 1%;
	}
h2#Reach{
	text-align: center;
    font-size: 50px;
}
div.text p{
	font-size: 25px;
}

footer{
	background-color: black;
    text-align: center;
    clear: both;
    bottom: 0;
    display: block;
    font-family: "Noto Sans", sans-serif;
}
footer img{
	height: 5%;
	width: 5%;
}
footer p{
	color:white;
}
section.Email{
	width: 100%;
	padding-left: 0%;
}
a{
	color:#EFF2F5;
}


/* Tablet MEDIA QUERY */
@media screen and (min-width: 768px){
	body{
		background-color:#17248E;
	}
	div#myCarousel{
	}
	header .jumbotron h2{
		visibility: visible;
		line-height: 200%;
    	color: #FBFBFB;;
    	font-size: 250%;
	}
	.carousel-inner>.item>img{
		height: 330px;
	}
	section.Roots{
		display: inline-block;
		width:40%;
	}
	img#mich{
		height: 230px;
	}
	img#TC{
		width: 55%;
		float: right;
	}
	.resume section{
		display: inline-block;
		width: 100%;
	}
	section.Education{
		width: 75%;
	}

	img#Me{
		display: inline-block;
		float: right;
		height: 180px;
		width:20%;
	}
	.nav {
		position: relative;
	}
	.nav{
		visibility: visible;
	}
	.navbar{
		visibility:hidden; 
	}
	.collapsing{
		visibility: visible;
	}
	.collapse{
		visibility: hidden;
	}
	.nav ul {
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
    	background-color: #424141;
    	border: 10px;
    	border-color: white;
    	width:100%;
	}

	.nav li {
		display: initial;
    	float: left;
    	width: 100%;
	}
	.active {
    	background-color: #5171D2;
	}

	.nav li a:hover:not(.active) {
    	background-color: #111;
	}

	.nav li a {
    	display: block;
    	color: white;
    	text-align: center;
    	padding: 14px 16px;
    	text-decoration: none;
	} 
	section.Courses{
		top:0;
	}
	section.Email{
		display: inline-block;
		width:40%;
		padding-left: 15%;
		float: left;
	}
	div.text p{
		color: white;
	}
	div.text h2,h2#Reach{
		color:#D4A30C;
	}
	div.icon{
		color: white;
	}
}
/* Desktop MEDIA QUERY */
@media screen and (min-width: 1024px){
	body{
		background-color:#1C0D56 ;
	}
	header .jumbotron h2{
		line-height: 100%
	}
	div.photos{
		display: inline-block;
		width: 100%
	}
	.photos img{
		width:49%;
		height: 300px;
	}
	.photos img:hover {
    	-webkit-transform: scale(1.25);
    	-moz-transform: scale(1.25);
    	-o-transform: scale(1.25);
    	transform: scale(1.25);
    	z-index: 10;
    	-webkit-transition: all 0.5s ease-out;
    	-moz-transition: all 0.5s ease-out;
    	-o-transition: all 0.5s ease-out;
    	transition: all 0.5s ease-out;
    	padding: 10px 10px 30px 10px;
    	background: white;
    	border: solid 1px black;
	}
	.photos img:nth-of-type(9){
    	width: 70%;
    	display: block;
    	margin-left: auto;
    	margin-right: auto;
	}
	.photos img:nth-of-type(4):hover{
		-webkit-transform: scale(1.15);
    	-moz-transform: scale(1.15);
    	-o-transform: scale(1.15);
    	transform: scale(1.15);
    	padding: 1px 10px 30px 1px;
	}
	.resume section{	
		display: inline-block;
	}
	div#myCarousel{
		display: none;
	}
	img#mich{
		height: 220px;
		float: right;
	}
	header .jumbotron h3{
		visibility: visible;
		clear: both;
		text-align: left;
		line-height: 200%;
		color:white;
	}
	.nav li {
		display: initial;
    	float: left;
    	width: 25%;
	}
	footer{
		border:none;
	}
}





