<!DOCTYPE html>
<html lang="en">
<head>
	<title>Chase's Portfolio</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="static/responsiveStyle.css"/>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
	<header>
	<div class="jumbotron">
      <div class="container">
      	<h1> Chase Richmond</h1>
        <h3> Cell Phone: +1(231)409-1019 </h3>
		<h3> Email: chniri@umich.edu </h3>
		<div class="row">
      	</div class="row">
     	</div>
    </div>
	</header>
	{% block content %}
	{% endblock %}
	
	<footer>
	<p>Check me out on Linkedin <a href= "https://www.linkedin.com/in/chase-richmond-16b1a0b2"> <img src="static/linkedin-logo.png" alt="linkedin"> </p>
	Copyright &copy; Chase Richmond
	</footer>
	
</body>
</html>