{%extends "templates/base.html" %}
{%block head%}

{%endblock%}

{%block nav4%}
  	<li><a class="active" href="contact.html">Contact</a></li>
{%endblock%}

{%block nav8%}
  	<li><a class="active" href="contact.html">Contact</a></li>
{%endblock%}

{% block content %}
<form>
    <label> Name: <input type='text' id = 'name' name = 'name' placeholder = 'John Doe'></label><br/>
    <label>Email: <input type='email' name = 'email' placeholder="johndoe@aol.com"></label><br/>
    <input type='submit' value='Submit'>
</form> 

{% endblock %}

self.request.get('name')
self.request.get('email')