{%extends "templates/base.html" %}

{%block head%}
<title>{{'title'}}</title>
{%endblock%}
{% block content %}

<div class="Home">
	<section class="Background">
		<h2>My Background</h2>
			<p> Hello, I am Chase! I am a junior at the University of Michigan pursuing a Bachelors of Science in Information (BSI) degree. Within the School of Information I am focusing on Information Analysis. Outside of the School of Information, I am working towards minors in Earth Science and Applied statistics <p>
	</section>
	<section class="Home">
		<h2>Hometown</h2>
		<p> My hometown is a beautiful place in Northern Michigan called Traverse City.</p>
	</section>
</div>
{%endblock%}
